<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>正泰</title>
    <link rel="stylesheet" href="../../css/question/questionadd.css">
    <script src="../../scripts/head.js"></script>
    <div class="layui-body">
    <!-- 内容主体区域 -->
        <div class="div-con">
            <div class="div-btn">
                <button class="layui-btn layui-btn-normal" id="RadioTm">单选题</button>
                <button class="layui-btn layui-btn-normal" id="CheckBoxTm">复选题</button>
                <button class="layui-btn layui-btn-normal" id="AnswerTm">问答题</button>
                <button class="layui-btn  Right">完成编辑</button>
            </div>
            <div  class="con" >

            </div>
        </div>
    </div>
    <script src="../../scripts/question/questionadd.js"></script>
<script src="../../scripts/footer.js"></script>




